apiVersion: v1
kind: Service
metadata:
  name: nginx-app-lb
  labels:
    app: nginx-app-lb
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: nginx-app